@import "tailwindcss";

html, body, #root {
    height: 100%;
    margin: 0;
    background: #0b0d10;
    overflow: hidden;
    user-select: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #1e2228 transparent;
}
